.loadingData{
  width:550px;
  border: 2px solid #4d4d4d;
  font-size: 1.5rem;
  color:#4d4d4d;
  background-color: #e6e6e6;
  margin:0 auto;
  margin-top: 10rem;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  font-family: calibri;
}
