.pokemon-list{
    width:650px;
    margin:0 auto;
    border:1px solid #595959;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px #808080;
    background-color: #e6e6e6;

    .pagination-buttons{
      // border:2px solid red;
      padding:0 0 10px 0;
    }
}
